# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\shakirov\YandexDisk\Работа\Программирование\Java\Учёба\Java pre-project\Задачи\spring-types-of-wiring\.idea/dataSources/
/dataSources.local.xml
